<% @users.each do |user| %>
    <li><%= link_to gravatar_for(user, size: 50), user %></li>
    <li class="border_none"><span class="user"><%= link_to user.name, user_path(user) %></span></li>
<% end %>    


