<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
<h2 class="show_sub_title">
PROFILE
</h2>
<p class="center">
<%= @user.profile %>
</p>
<h2 class="show_sub_title">
AREA
</h2>
<p class="center">
<%= @user.area %>
</p>